.form {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 20px;
    width: 756px;
	text-align: center;
}
.form .row {
    text-align: left;
}
.submit {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 15px;
    border: 2px solid #b2b2b2;
    width: 50%;
	color: #b2b2b2;
	cursor: pointer;
	transition: all 0.1s;
	padding: 10px;
	border-radius: 100px;
}
.submit:hover {
	background: #f8f8f8;
}
.col-sign-l {
    padding-right: 10px;
}
.col-sign-r {
    padding-left: 10px;
}
.label {
	font-weight: 600;
	color: #b2b2b2;
	font-size: 15px;
	display: block;
	user-select: none;
}
.input{
	width: 100%;
	font-size: 15px;
	padding: 9px 10px;
	margin-bottom: 10px;
	border: 2px solid #b2b2b2;
	outline: none!important;
	border-radius: 100px;
}
.input:focus {
	border-color: #828282;
}
.page-title {
	padding-bottom: 20px;
	text-align: left;
}
.page-title h2{
	font-size: 3em;
	font-weight: 300;
}
.page-title h4 {
	font-weight: normal;
	font-size: 1.5em;
	font-style: italic;
	padding-left: 20px;
}
.other {
    color: #b2b2b2;
    font-size: 0.7em;
}
.a {
    text-decoration: underline;
}
.content {
	position: absolute;
	top: 0;
	right: 0;
	left: 256px;
	padding-top: 50px;
}
.user-table {
	font-size: 25px;
	overflow: hidden;
}
.user-table > .row {
	border: 1px solid #b2b2b2;
}
.user-table .cell-h {
	text-align: center;
	padding: 13px 20px;
	color: #ffffff;
	background: #616161;
	font-size: 17px;
	text-align: left;
	user-select: none;
}
.mail {
	width: 40%;
}
.id .cell, .lastactive .cell, .status .cell {
	justify-content: center;
}
.lastactive .cell::before, .status .cell::before {
	content: '';
	display: block;
	position: absolute;
	z-index: -2;
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	border-radius: 8px;
	background: #dcdcdc;
}
.cell.warning::before {
	background: #CDDC39!important;
}
.cell.accident {
	color: #fff;
}
.cell.accident::before {
	background: #FF5722!important;
}
.delete {
	background: rgb(238, 238, 238, 0.7);
	width: 50px;
}
.status .cell {
	cursor: help;
}
.cell-h__empty {
	height: 46px;
}
.delete .cell {
	justify-content: center;
	cursor: pointer;
}
.user-table > .row > .col {
	transition: all 0.1s;
}
.user-table .cell {
	height: 30px;
	position: relative;
}
.user-table .cell svg {
	height: 20px;
}
.user-table .cell:hover::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -2000px;
	right: -2000px;
	content: '';
	display: block;
	background: rgba(0,0,0,0.1);
	z-index: -1;
}
.pop-up {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 3;
}
.pop-up.visible {
	display: flex;
}
.pop-up-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}
.pop-up-content {
	background: #fff;
	position: relative;
	max-width: 756px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.pop-up-content-title {
	color: #b2b2b2;
	text-align: center;
}
.pop-up-close {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	background: #b2b2b2;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
}
.pop-up-close svg {
	max-height: 100%;
	max-width: 100%;
}
.pop-up-content-body {
	text-align: center;
	padding-top: 30px;
}
.pop-up-form {
	padding-top: 20px;
}
.pop-up-form input {
	width: 50%;
}
.cell-script {
	cursor: pointer;
}