@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-Heavy.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-HeavyItalic.ttf');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-Black.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-UltraLightItalic.ttf');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-BlackItalic.ttf');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-ThinItalic.ttf');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-UltraLight.ttf');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-Italic.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeueCyr-Roman.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}
